.cursor {
	background-color: #1af8f7;
	border-radius: 50%;
	height: 30px;
	left: 0;
	position: fixed;
	top: 0;
	transition: all 0.1s cubic-bezier(0, 0.95, 0.25, 0.99);
	width: 30px;

	mix-blend-mode: difference;
}
