


/*
 *-----------------------------------------------------------------------------------------------------------*
 	* Instafeed
 *-----------------------------------------------------------------------------------------------------------*
 */


.instafeed {
	font-size: 0;
	margin: 0 auto;
	margin-bottom: 0;
	max-width: 1080px;
	padding: 1.2rem;
	text-align: center;
	width: 100%;
}

.instafeed__item {
	overflow: hidden;
	padding: 0;
	vertical-align: top;

	&:hover { opacity: 0.6; }
}

.instafeed__item__image {
	height: 100%;
	object-fit: cover;
	width: 100%;
}


.instafeed__follow {
	background: transparent !important;
	border-radius: 0;
	box-shadow: none !important;
	clear: both;
	color: $color-primary;
	display: block;
	font-family: $font-text;
	font-size: 1em;
	line-height: 1.1;
	margin: 10px auto 4rem;
	text-align: center;

	.instafeed__follow__icon {
		height: 0.7em;
		width: 0.7em; }
}

@media ( min-width: $sm ) {
	// #instafeed { padding: 2rem; }
}

@media ( min-width: $md ) {


}
