.owl-carousel {

	&--fullscreen {
		display: block;
		overflow: hidden;
	}

	&--fullscreen &__item__container {
		height: 100%;
		overflow: hidden;
		width: 100%;
	}

	&--fullscreen &__image {
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		height: 100vh;
		width: 100%;
	}

	&__item__container__caption {
		background-color: color(secondary,100);
		bottom: 5vh;
		left: 0;
		max-width: 90%;
		padding: 1rem;
		position: absolute;
		right: 0;
		z-index: 1;
	}

	@media ( min-width: $md ) {
		&__item__container__caption {
			max-width: 50vw;
		}
	}

}