.video {
	cursor: pointer;
	overflow: hidden;
	position: relative;

	&__thumbnail {
		@include transform( translate(-50%,-50%) );
		left: 50%;
		min-height: 100%;
		min-width: 100%;
		position: absolute;
		top: 50%;
		z-index: 1;
	}

	&__thumbnail__play {
		@include transform( translate(-50%,-50%) );
		background-color: red;
		border-radius: 50%;
		color: white;
		font-size: 1.2rem;
		height: 2.2rem;
		left: 50%;
		position: absolute;
		text-align: center;
		top: 50%;
		width: 2.2rem;
		z-index: 2;
	}

	&__thumbnail__play__icon {
		display: block;
		margin-left: 0.15em;
	}

	&__thumbnail__image {
		@include transition( transform 0.3s );
		display: block;
		height: auto;
		width: 105%;
	}

	&__thumbnail.is-playing {
		display: none;
	}

	&__source {
		height: auto;
		width: 100%;
	}

	&:hover  &__thumbnail__image {
		@include transform( scale(1.05) );
	}
}

.iframe-wrapper {
	padding-bottom: calc( (9 / 16) * 100% );
	position: relative;

	iframe {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;

	}
}
