.footer {
	bottom: 0;
	color: rgba(color(the-light), 0.5);
	font-size: 0.7rem;
	font-weight: bold;
	left: 0;
	padding: 0.5em $gutter;
	position: absolute;
	right: 0;
	text-align: center;
	z-index: 1;

	@media (min-width: $md) {
		font-size: 1.2vw;
		padding-left: $gutter-vw;
		padding-right: $gutter-vw;
	}

	a {
		color: rgba(color(the-light),0.5);

		&:hover,
&:focus,
&::after {
			background-color: transparent;
		}

		&:hover::after,
&:focus::after {
			background-color: transparent;
			color: color(the-light);
		}
	}
}
