.header {
	background-color: color(primary,100);
	position: relative;
	width: 100%;
	z-index: 10;
	display: none;

	// accessibility

	.skip,
	.skip:link {
		@include transition(top, 0.3s);
		background: color(primary,100);
		color: color(secondary,100);
		left: 0;
		letter-spacing: 1px;
		line-height: 1.75;
		padding: 10px 0;
		position: fixed;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		top: -11em;
		width: 100%;
		z-index: 20;
	}

	a.skip:focus,
	a.skip:active {
		top: 0;
	}
}

.header-logo {
	@extend .remove-link-style;
	display: block;

	&__image {
		height: 90px;
		width: auto;
	}

}

.header-hamburger {
	font-size: 40px;
	height: 40px;
	width: 40px;
}
