/* padding */

.add-padding,
.add-padding-top {
	padding-top: 5rem;
}

.add-padding,
.add-padding-bottom {
	padding-bottom: 5rem;
}

.add-padding--medium,
.add-padding-top--medium {
	padding-top: 3rem;
}

.add-padding--medium,
.add-padding-bottom--medium {
	padding-bottom: 3rem;
}

.add-padding--small,
.add-padding-top--small {
	padding-top: 1.5rem;
}

.add-padding--small,
.add-padding-bottom--small {
	padding-bottom: 1.5rem;
}

/* mail encryption */

.these-are-not-the-droids-youre-looking-for {
	@extend .remove-link-style;

	&::after {
		content: attr(data-name) '@'attr(data-domain) '.'attr(data-tld);
	}
}

/* emoji */
.emoji-whitespace {
	font-size: 3vw;
	margin-bottom: 0.5em;
	text-align: center;
}
