.header-nav {
	text-align: center;

	&__level-1 {
	}

	&__level-1__item{

	}

	&__level-1__item__link {
		@extend .remove-link-style;
		color: color(secondary,100);
		display: block;
		font-size: 0.8rem;
		padding: 7px;
	}

	&__level-1__item:hover .header-nav__level-1__item__link,
	&__level-1__item:focus .header-nav__level-1__item__link,
	&__level-1__item.is-active .header-nav__level-1__item__link {
		background: color(secondary,100);
		color: color(primary,100);
	}

	&__level-2 {
		display: none;
	}

	&__level-1__item:hover .header-nav__level-2,
	&__level-2.show-menu { // show-menu class from the accessible menu javascript!
		display: block;
	}

	&__level-2__item__link {
		color: color(secondary,100);
	}

	@media ( min-width: 1000px ) {
		&__level-1__item {
			display: inline-block;
			vertical-align: top;
		}
	}
}
