/* headlines */

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.2;
	margin-top: 0;
}

p + h2,
p + h3,
p + h4,
p + h5,
p + h6 {
	margin-top: 2.25em;
}

h1,
h2 {
	font-size: 2rem;
	font-weight: bold;

	@media (min-width: $md) {
		font-size: 4.5vw;
	}
}

p,
ul,
ol,
table {
	font-size: 0.85rem;
	line-height: 1.4;
	margin: 0 0 1em 0;

	&:last-child {
		margin-bottom: 0;
	}

	@media (min-width: $md) {
		font-size: 1.75vw;
	}
}

.intro {
	font-size: 1.15rem;

	@media (min-width: $md) {
		font-size: 2.7vw;
	}
}

/* mark */

mark {
	background-color: transparent;
	position: relative;

	&::after {
		background-color: color(primary, 20);
		bottom: 0.25em;
		content: '';
		height: 0.5em;
		left: 0;
		position: absolute;
		right: 0;
		width: 100%;
		z-index: -1;
	}
}

/* links */

a {
	@include transition( all 0.3s );

	background-color: transparent;
	color: color(secondary,100);
	display: inline;
	position: relative;
	text-decoration: none;
	z-index: 1;

	&::after {
		background-color: color(primary, 20);
		bottom: 0.25em;
		content: '';
		height: 0.5em;
		left: 0;
		position: absolute;
		right: 0;
		transition: all 0.3s;
		width: 100%;
		z-index: -1;
	}

	&:hover,
&:focus {
		color: color(the-light);
		outline: 0;

		&::after {
			background-color: color(primary,100);
			color: color(the-light);
			height: 1.3em;
			transform: translateY(0.3em);
		}
	}

}

a[href^=tel] {
	cursor: text;
}

.remove-link-style {
	color: inherit;

	&::after {
		background-color: transparent;
		position: static;
		width: inherit;
	}
}

/* lists */

ul,
ol {
	list-style: none;
	list-style-image: url(data:image/gif;10064,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7); // for IE10 and above. Read more here -> https://stackoverflow.com/questions/20356311/internet-explorer-11-ignores-list-stylenone-on-the-first-load
	padding-left: 0;
}

li {
	margin-bottom: 0.3em;
	padding-left: 1.5em;
	position: relative;
}

ol {
	counter-reset: ol-counter;
}

ol li::before {
	color: color(primary,100);
	content: counter(ol-counter, decimal-leading-zero) '';
	counter-increment: ol-counter;
	display: inline-block;
	font-weight: bold;
	margin-left: -2em;
	margin-right: 0.6em;
	width: 1.43em;
}

ul li::before {
	content: '◆';
	font-size: 0.7em;
	left: 0;
	position: absolute;
	top: 0.3em;
}
