/* headlines */

h1,h2,h3,h4,h5,h6 {
	line-height: 1.2;
	margin-top: 0;
}

p + h2,
p + h3,
p + h4,
p + h5,
p + h6 {
	margin-top: 2.25em;
}

h1,.look-like-h1 {
	color: color(primary,100);
	font-size: 3rem;
	margin-bottom: 1em;
	text-align: center;
}

h2,.look-like-h2 {
	color: color(primary,100);
	font-size: 2rem;
	font-weight: 600;
	margin-bottom: 0.75em;
	text-align: left;
}

h3,.look-like-h3 {
	font-size: 1rem;
	font-weight: bold;
	margin-bottom: 0.5em;
	text-align: left;
}

p,
ul,
ol,
table {
	font-size: 0.85rem;
	line-height: 1.5;
	margin: 0 0 1em 0;

	&:last-child {
		margin-bottom: 0;
	}
}

/* sup */

sup {
	white-space: nowrap; // prevent the sup notes breaking a line
}

/* small */

small {
	display: block;
	font-size: 0.5rem;
	font-style: italic;
	margin-bottom: 2.4em;
}

p small {
	font-size: 0.9em;
	margin-bottom: -1.2em;
}

.form small {
	text-align: right;
}

/* links */

a {
	border-bottom: 1px dotted;
	color: color(primary,100);
	display: inline-block;
	text-decoration: none;
	@include transition( all 0.3s );

	&:hover,
	&:focus {
	}

}

a[href^=tel] {
	cursor: text;
}

.remove-link-style {
	color: inherit;
	border-bottom: 0;

	&:hover,
	&:focus {
	}
}

/* lists */

ul,ol {
	list-style: none;
	list-style-image: url(data:image/gif;10064,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7); // for IE10 and above. Read more here -> https://stackoverflow.com/questions/20356311/internet-explorer-11-ignores-list-stylenone-on-the-first-load
}

li {
	margin-bottom: 0.3em;
	padding-left: 2.5em;
	position: relative;
}

ol {
	counter-reset: ol-counter;
}

ol li::before {
	color: color(primary,100);
	content: counter(ol-counter, decimal-leading-zero) '';
	counter-increment: ol-counter;
	display: inline-block;
	font-weight: bold;
	margin-left: -2em;
	margin-right: 0.6em;
	width: 1.43em;
}

ul li::before {
	background-color: color(primary,100);
	content: '';
	display: inline-block;
	height: 2px;
	margin-left: -2em;
	margin-right: 0.7em;
	position: relative;
	top: -3px;
	width: 1.3em;
}
